.button {
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    font-weight: 400;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        padding: 1px; /* the border thickness */
        border-radius: 10px;
        background: linear-gradient(90deg, #997141 0%, #F6C37F 33.4%, #9D7444 100%);
        mask: 
        linear-gradient(#000 0 0) exclude, 
        linear-gradient(#000 0 0) content-box;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: calc(100% - 12.5px);
        right: 10px;
        width: 17px;
        height: 23px;
        display: block;
        background: url(../../assets/star.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}