* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: "Inter", sans-serif;
    overflow: hidden;
    color: #fff;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 170px);
    padding: 40px 0;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url(../assets/background.jpg);
        background-position: center;
    }
}

ul {
    list-style: none;
}

.title {
    font-size: 20px;
    text-align: center;
    color: #fff;
    line-height: 25.4px;
}

.title > span {
    color: #f6c37f;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin-top: 10px;
}

.subtitle {
    color: #f6c37f;
    margin-top: 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

input {
    overflow-x: hidden;
}

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}