.textWrapper {
    margin-bottom: 25px;
}

.btnWrapper {
    width: 200px;
    margin: 0 auto;
    font-size: 24px;

    @media screen and (min-width: 1000px) {
        width: 430px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    & a {
        @media screen and (min-width: 1000px) {
            display: flex;
            align-items: center;
            font-size: 24px;
            height: 50px;
        }
    }
}

.linksWrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 10px;
    margin-bottom: 0px;

    @media screen and (max-width: 380px) {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (min-width: 1000px) {
        margin-top: 20px;
    }

    & a {
        color: #f6c37f;
        text-decoration: 1px solid underline #f6c37f !important;
        -webkit-text-decoration: 1px solid underline #f6c37f !important;
        font-size: 12px;

        @media screen and (min-width: 1000px) {
            font-size: 20px;
        }
    }
}

.copyright {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 1rem;
	color: #f6c37f;

	@media screen and (max-width: 1000px) {
		font-size: 12px;
	}

	& > a {
		color: #f6c37f;
    text-decoration: 1px solid underline #f6c37f !important;
    -webkit-text-decoration: 1px solid underline #f6c37f !important;
	}
}