.wheel {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - (330px / 1.9));
    height: 400px;
    width: fit-content;
    overflow: hidden;
    margin: auto;
    z-index: -1;

    @media screen and (max-width: 600px) {
        top: calc(100% - (300px / 1.9));
    }

    @media screen and (min-width: 1200px) {
        top: calc(100% - (350px / 1.9));
    }

    @media screen and (min-width: 1400px) {
        top: calc(100% - (400px / 1.9));
    }

    @media screen and (min-width: 1600px) {
        top: calc(100% - (450px / 1.9));
    }
}

.wheelBottom {
    position: absolute;
    width: 330px;
    height: 330px;
    right: calc(100% - 220px);
    top: calc(100% - 130px);
    height: 400px;
    overflow: hidden;
		z-index: -1;
    
    @media screen and (min-width: 600px) {
        top: calc(100% - (300px / 1.9));
    }

    @media screen and (min-width: 700px) {
        top: calc(100% - (400px / 1.9));
        right: calc(100% - 290px);
        height: 400px;
        width: 400px;
    }

    @media screen and (min-width: 1200px) {
        top: calc(100% - (500px / 1.9));
    }

    @media screen and (min-width: 1400px) {
        top: calc(100% - (600px / 1.9));
    }

    @media screen and (min-width: 1600px) {
        top: calc(100% - (700px / 1.9));
        right: calc(100% - 300px);
    }
}

.wheel img, .wheelBottom img {
    display: block;
    width: 330px;
    height: 330px;
    animation: wheel infinite 64s linear;

    @media screen and (min-width: 1200px) {
        height: 400px;
        width: 400px;
    }

    @media screen and (min-width: 1400px) {
        height: 500px;
        width: 500px;
    }
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}