.button {
    width: 100%;
    padding: 7px 0;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #F6C37F 0%, #9D7444 49%, #F6C37F 100%);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1000px) {
        font-size: 30px;
    }
}